services:
  rabbitmq:
    image: rabbitmq:4.2.3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"     # RabbitMQ main port
      - "15672:15672"   # RabbitMQ management UI port
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"     # SMTP port
      - "8025:8025"     # Web UI port

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASS: password
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SMTP_HOST: mailhog
      SMTP_PORT: 1025
    depends_on:
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_started
      mailhog:
        condition: service_started

  email-consumer:
    build: ./backend
    command: ["python", "email_consumer.py"]
    deploy:
      replicas: 3
      mode: replicated
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASS: password
      SMTP_HOST: mailhog
      SMTP_PORT: 1025
    depends_on:
      - rabbitmq
      - mailhog

volumes:
  rabbitmq_data:
  redis_data: